<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cardCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD9FDB541CAA203F00B9BA4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9FDB681CAA203F00B9BA4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9FDB731CAA203F00B9BA4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
